/*******************************/
/* Header*/
/*******************************/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1270px;
    margin: auto;
}
.container_nav {
    position: relative;
}
.header .logo {
    width: 120px;
}
.header .menu {
    list-style: none;
    padding: 0;
    margin:0;
    display: inline-flex;
}
.header .menu li {
    margin: 10px;
}
.header .menu li:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .menu li a {
    text-decoration: none;
    color: gray;
}
.header h2 {
    color: gray;
}


/*******************************/
/* Main*/
/*******************************/
main {
    min-height: 500px;
}
.list_container {
    max-width: 1250px;
    margin: 2em auto;
}

/*******************************/
/* Footer*/
/*******************************/
footer {
    padding: 1em;
    background: #84918F;
    color: #efecea;
}
footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer_column {
    padding: 1em;
}
small.copy {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}


/************************************/
/* Carrito*/
/************************************/

.contador_carrito {
    padding: 2em;
}
.controles {
    display: flex;
    width: 100%;
    max-width: 200px;
}
.controles div {
    width: 100%;
    text-align: center;
}
.agregar_carrito {
    width: 100%;
    max-width: 200px;
}

/************************************/
/* Items*/
/************************************/
.list_container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}
.list_container > h3 {
    margin-left: 2em;
}
.list_container li {
    width: 100%;
    max-width: 280px;
    margin: 2em;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 0px 10px 20px whitesmoke;
    overflow: hidden;
    padding: 0 0 1em 0;
}
.list_container li p, .list_container li small, .list_container li h2 {
    padding: 0 20px;
    margin: 10px 0;
}
.list_container li a {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    color: #f89d61;
}
.list_container li img {
    width: 100%;
}